.statement {
    text-align: center;
    font-size: 1rem;
    margin-top: 4rem;
    font-weight: bolder;
    color: rgb(98, 98, 98);
}

.userUL {
    margin: auto;
    width: fit-content;
    list-style-type: none;
}

.userLI {
    margin: 1rem;
    letter-spacing: 1px;
}