.statement {
    text-align: center;
    font-size: 1rem;
    margin-top: 4rem;
    font-weight: bolder;
    color: rgb(98, 98, 98);
}

.userUL {
    margin: auto;
    width: fit-content;
    list-style-type: none;
}

.userLI {
    margin: 1rem;
    letter-spacing: 1px;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: purple;
    padding-bottom: 3px;
    border-bottom: 1px solid purple;
}