.statement {
    text-align: center;
    font-size: 1rem;
    margin-top: 4rem;
    font-weight: bolder;
    color: rgb(98, 98, 98);
    width: 100%;
}

.userUL {
    margin: auto;
    width: fit-content;
    list-style-type: none;
    font-size: 14px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

.userLI {
    margin: 1rem;
    letter-spacing: 1px;
    border: 1px solid black;

}

.td {
    padding: 0.5rem;
    border: 1px solid black;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: purple;
    padding-bottom: 3px;
    border-bottom: 1px solid purple;
}

.profileCard {
    margin: auto;
    list-style-type: none;
    background-color: antiquewhite;
    width: 30%;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    border-radius: 7px;
}

.profilesDoc {
    display: flex;
    flex-direction: column;
}