.ul {
    display: flex;
    justify-content: center;
    background-color: #007bffc2;
    margin-top: 0;
    padding: 1.5rem;
    align-items: center;

}

.ul li {
    list-style-type: none;
    padding-right: 1rem;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;

}

.ul a {
    text-decoration: none;
    color: white;
    padding-bottom: 4px;
}

.ul a:hover {
    border-bottom: 1px solid white;

}


.ul a.active {
    border-bottom: 1px solid white;
}